/* ArticleCard.css */

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .card {
    border: 1px solid #ddd;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    transition: all 0.2s ease-in-out;
    width: 18rem; /* Adjust based on your preference */
    margin-bottom: 20px; /* Vertical spacing */
  }
  
  .card:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,.3);
  }
  
  .card-body {
    padding: 15px;
  }
  
  .card-title {
    margin-bottom: 15px;
    font-size: 20px;
  }
  
  .card-text {
    font-size: 16px;
    margin-bottom: 15px;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
    text-align: center;
    display: block;
    width: 100%;
    cursor: pointer;
    padding: 10px;
    border-radius: 0;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  